
<div class="jumbotron">
    <h1>Welcome to our App-Promotion!</h1>
</div>

<div class="row">
    <div class="container">
        
        <div class="form-group">
            <label for="promocode">Please enter your promotional code</label><br/>
            <input type="text" id="promocode" />
        </div>
        <Button class="btn btn-success" id="redeemcode">Redeem your code</Button>&nbsp;
        <button class="btn btn-success" id="multistats">Check multi-code stats</button><br />
        <div id="result" style="font-size:28px;font-weight:bolder;margin-top:20px;">

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#redeemcode').click(function () {

            $.get("/home/RedeemPromocode", { promoCode: $('#promocode').val() }, function (data) {

                $("#result").text(JSON.stringify(data));

            });
        });

        $('#multistats').click(function () {

            $.get("/home/GetPromocodeStats", { promoCode: $('#promocode').val() }, function (data) {

                $("#result").text(JSON.stringify(data));

            });
        });

    });
</script>